@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap');
/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #5a5a5a;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  padding-right: 45px;
  padding-left: 35px;
}

.menu__list-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #363838;
  line-height: 22px;
}

.header__btn {
  background-color: transparent;
  cursor: pointer;
}

.footer__content {
  background-color: #dfdfdf;
  padding: 60px 0 80px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  width: 540px;
}

.footer__info-title {
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 14px;
  line-height: 23px;
}

.footer__info-text {
  color: #5a5a5a;
  margin-bottom: 16px;
}

.footer__info-email {
  font-weight: 600;
  font-size: 14px;
  color: #363838;
  margin-bottom: 22px;
  display: inline-block;
}

.footer__form {
  display: flex;
}

.footer__form-input {
  padding: 6px 10px 6px 18px;
  border: 1px solid #383636;
  border-radius: 21px;
  background-color: transparent;
  width: 100%;
}

.footer__form-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27;
  color: #a1a1a1;
}

.footer__form-button {
  background-color: #383636;
  border: none;
  color: #fffff0;
  border-radius: 21px;
  font-weight: 600;
  padding: 6px 12px;
  min-width: 160px;
  margin-left: 9px;
  cursor: pointer;
}

.footer__social {
  width: 125px;
  margin-right: auto;
  margin-left: 100px;
}

.footer__social-item {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}

.footer__social-link, .footer__menu-link {
  color: #707070;
}

.footer__menu {
  width: 125px;
  margin-right: 60px;
}

.footer__menu-item {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}

.footer__copyright {
  background-color: #363838;
  color: #a1a1a1;
  text-align: center;
  padding: 42px 0 41px;
}

.rightside-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 694px;
  width: 100%;
  background-color: #fff;
  padding-top: 40px;
  box-shadow: -2px 3px 17px 0 #000;
  transition: all .5s;
  z-index: 1;
}

.rightside-menu__close {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  margin-left: 50px;
  margin-bottom: 60px;
}

.rightside-menu__content {
  text-align: center;
  max-width: 485px;
  margin: 0 auto;
}

.rightside-menu__logo {
  margin-bottom: 40px;
  display: inline-block;
}

.rightside-menu__title {
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 51px;
  position: relative;
  padding-bottom: 17px;
}

.rightside-menu__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 252px;
  margin: 0 auto;
  height: 1px;
  background: #6d7278;
}

.rightside-menu__text {
  margin-bottom: 75px;
  margin-top: 17px;
}

.rightside-menu__images {
  max-width: 485px;
}

.rightside-menu.rightside-menu--close {
  transform: translateX(500%);
}

.top__inner {
  padding-bottom: 70px;
  position: relative;
}

.top__inner::after {
  content: '';
  position: absolute;
  background-image: url(../img/slider-bg.jpg);
  width: 100%;
  height: 722px;
  top: 0;
  z-index: -1;
}

.top__slider-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.top__slider-img {
  margin-left: -14%;
  max-width: 703px;
  height: 815px;
  object-fit: cover;
}

.top__slider-info {
  max-width: 645px;
  margin-left: 25px;
}

.top__slider-title {
  color: #363838;
  font-size: 110px;
  line-height: 135px;
  padding-bottom: 26px;
  margin-bottom: 26px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.top__slider-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 185px;
  height: 1px;
  background: #6d7278;
}

.top__slider-text {
  max-width: 585px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  margin: 0 15px;
}

.slick-dots button {
  background-color: #363838;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  font-size: 0;
}

.slick-dots li.slick-active button {
  background-color: #ffef35;
}

.new-collection {
  text-align: center;
  padding: 45px 0 35px;
}

.new-collection__title {
  color: #363838;
  font-size: 36px;
  line-height: 51px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.new-collection__title::after {
  content: '';
  position: absolute;
  width: 250px;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #6d7278;
}

.new-collection__text {
  max-width: 730px;
  margin: 0 auto 30px;
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  padding-bottom: 70px;
}

.collection__item {
  position: relative;
}

.collection__images {
  min-height: 350px;
  object-fit: cover;
  width: 100%;
}

.collection__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity .3s;
}

.collection__info:hover {
  opacity: .7;
}

.collection__info-title {
  font-size: 20px;
  line-height: 25px;
  color: #363838;
  padding-bottom: 19px;
  margin-bottom: 19px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.collection__info-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background: #6d7278;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.collection__info-text {
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}

.decor {
  padding: 170px 0 155px;
  background-image: url(../img/decor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.decor__title {
  max-width: 500px;
  color: #363838;
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 22px;
  padding-bottom: 22px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.decor__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 200px;
  background: #6d7278;
}

.decor__text {
  max-width: 540px;
}

.works-path {
  padding: 80px 0 30px;
}

.works-path__title {
  text-align: center;
  color: #363838;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 51px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.works-path__items-box {
  display: flex;
  border-bottom: 2px solid #363838;
  align-items: flex-end;
  position: relative;
}

.works-path__items-box::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #363838;
}

.works-path__item {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.works-path__item--production {
  margin-left: 317px;
}

.works-path__item--production::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background: #363838;
}

.works-path__item--consultation, .works-path__item--production {
  padding-bottom: 38px;
}

.works-path__item--measurements {
  padding-top: 38px;
  margin-left: 305px;
}

.works-path__item--measurements::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background: #363838;
}

.works-path__item-title {
  margin-left: 13px;
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.works-path__item-text {
  margin-top: 13px;
}

.gallery {
  padding: 80px 0 90px;
}

.gallery__buttons {
  text-align: center;
  margin-bottom: 40px;
}

.gallery__btn {
  margin: 0 13px;
  background-color: transparent;
  border: 1px solid #454647;
  border-radius: 20px;
  padding: 6px 16px;
  color: #8f8d8d;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.mixitup-control-active {
  background-color: #ffef35;
  border: 1px solid #ffef35;
  color: #363838;
}

.gallery__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 35px;
}

.gallery__item:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 1150px;
}

.blog-box {
  padding-bottom: 100px;
}

.blog-box__title {
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 51px;
  margin: 0 auto 30px;
  text-align: center;
  max-width: 430px;
}

.blog-box__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.blog-box__img-link {
  display: inline-block;
  margin-bottom: 19px;
}

.blog-box__img {
  width: 100%;
}

.blog-box__links {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
}

.blog-box__date, .blog-box__author, .blog-box__theme {
  color: inherit;
}

.blog-box__item-title {
  color: #363838;
  font-size: 24px;
  line-height: 38px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.breadcrumbs {
  background: rgb(223 223 223 / 50%);
  padding: 13px 14px;
  position: relative;
  z-index: 10;
}

.breadcrumbs__list {
  display: flex;
  overflow-x: auto;
}

.breadcrumbs__item {
  position: relative;
  padding-right: 8px;
}

.breadcrumbs__item::after {
  content: '/';
  position: absolute;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  color: #5a5a5a;
}

.menu__list-link--active {
  padding-bottom: 4px;
  position: relative;
}

.menu__list-link--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 1px;
  background-color: #363838;
}

.about__prev {
  background-image: url(../img/about/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 160px 0;
  margin-top: -53px;
}

.about__prev-title {
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
}

.about__content {
  padding: 130px 0 40px;
}

.about__title {
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}

.about__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 1px;
  background-color: #6d7278;
}

.about__text {
  padding-left: 284px;
}

.about__text p {
  margin-bottom: 30px;
}

.about__popup {
  background-image: url(../img/about/video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 414px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.inspiration {
  padding-top: 100px;
  position: relative;
}

.inspiration::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/about/Object.jpg);
  height: 362px;
  z-index: -1;
}

.inspiration__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inspiration__images {
  margin-right: 78px;
  margin-left: -230px;
}

.inspiration__title {
  color: #363838;
  font-size: 36px;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-bottom: 16px;
  margin-bottom: 24px;
  position: relative;
}

.inspiration__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #6d7278;
  height: 1px;
  width: 200px;
}

.inspiration__text {
  margin-bottom: 30px;
}

.inspiration__content {
  max-width: 825px;
}

.inspiration__item {
  color: #363838;
  line-height: 23px;
  margin-bottom: 33px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.inspiration__item-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 2px solid #fff;
  border-radius: 4px;
}

.inspiration__line {
  height: 2px;
  border-radius: 4px;
  background-color: #363838;
  margin-top: -2px;
}

.partners {
  padding: 16px 0 60px;
}

.partners__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.partners__item {
  margin: 0 auto;
  width: 100%;
}

.gallery.gallery__page .gallery__item img {
  max-height: 1165px;
}

.gallery.gallery__page .gallery__item:nth-child(8) {
  grid-column: span 2;
  grid-row: span 2;
}

.map {
  margin-top: -53px;
  margin-bottom: 50px;
}
.map iframe{
  height: 578px;
}

.contact {
  padding-bottom: 100px;
}

.contact__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #363838;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 40px;
  padding-bottom: 25px;
  position: relative;
}

.contact__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 200px;
  background-color: #6d7278;
}

.contact__text {
  margin-bottom: 10px;
}

.contact__box {
  padding-left: 284px;
  margin-bottom: 10px;
}

.info-email, .contact__phone {
  color: #363838;
  padding-bottom: 10px;
}

.contact__city {
  margin-bottom: 16px;
}

.contact__form {
  padding-left: 284px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact__form-input {
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  padding: 6px 17px;
  margin-bottom: 13px;
  width: 48%;
}

.contact__form-input::placeholder {
  color: #a1a1a1;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.contact__form-area {
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 24px;
  padding: 14px 17px;
  min-height: 125px;
  margin-bottom: 20px;
  resize: none;
}

.contact__form-area::placeholder {
  color: #a1a1a1;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.contact__form-btn {
  border: none;
  background-color: #363838;
  color: #fffff0;
  font-weight: 600;
  border-radius: 21px;
  padding: 6px 60px;
  cursor: pointer;
}

.contact-slider {
  padding-bottom: 102px;
}

.contact-slider__link {
  position: relative;
  margin-bottom: 20px;
}

.contact-slider__link:hover .contact-slider__title {
  opacity: 1;
}

.contact-slider__img {
  width: 170px;
  height: 170px;
  object-fit: cover;
}

.contact-slider__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255 255 255 / 60%);
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 22px;
  padding: 0 5px;
  text-align: center;
  opacity: 0;
  transition: all .5s;
}

.blog {
  padding: 60px 0 100px;
}

.blog__inner {
  display: flex;
  justify-content: space-between;
}

.blog__category {
  margin-bottom: 36px;
}

.blog__category-title, .blog__tags-title {
  margin-bottom: 15px;
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 23px;
}

.blog__category-item {
  margin-bottom: 12px;
}

.blog__category-link {
  color: inherit;
}

.blog__items {
  max-width: 730px;
}

.blog__item {
  margin-bottom: 80px;
}

.blog__item-img {
  max-width: 730px;
}

.blog__item-info {
  padding: 25px 0 10px;
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}

.blog__item-info a {
  color: inherit;
}

.blog__item-title {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 6px;
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.blog__blockquote {
  background: rgba(223, 223, 223, .5);
  margin-bottom: 50px;
  padding: 54px 64px;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
}

.blog__blockquote-author {
  font-size: 16px;
  line-height: 22px;
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 23px;
  padding: 23px;
  position: relative;
  font-style: normal;
}

.blog__blockquote-author::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #6d7278;
  border-radius: 1px;
  height: 1px;
  width: 200px;
  margin: 0 auto;
}

.article-popup__box {
  position: relative;
}

.blog__item-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.article-slider__arrow {
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.article-slider__arrowleft {
  left: 16px;
}

.article-slider__arrowright {
  right: 16px;
}

.recent-posts {
  margin-bottom: 40px;
}

.recent-posts__title {
  margin-bottom: 24px;
  color: #363838;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 23px;
}

.recent-posts__item {
  margin-bottom: 11px;
}

.recent-posts__item-title {
  display: block;
  color: inherit;
}

.recent-posts__date, .recent-posts__author {
  color: #a1a1a1;
  font-size: 14px;
}

.blog__tags {
  margin-bottom: 50px;
}

.blog__tags-link {
  color: #8f8d8d;
  font-weight: 600;
  font-size: 14px;
  padding: 0 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid rgb(69 70 71 / 50%);
  border-radius: 14px;
}

.aside {
  width: 350px;
  margin-left: 30px;
}

.aside__search {
  position: relative;
  margin-bottom: 40px;
}

.aside__search-input {
  padding: 6px 45px 6px 18px;
  border: 1px solid rgb(54 56 56 / 70%);
  border-radius: 20px;
  width: 100%;
}

.aside__search-input::placeholder {
  color: #a1a1a1;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
}

.aside__search-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 13px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__list {
  display: flex;
}

.pagination__list-item {
  margin: 0 6px;
}

.pagination__arrow {
  margin: 0 6px;
}

.pagination__arrow--disabled {
  opacity: 0;
  pointer-events: none;
}

.pagination__list-num {
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}

.pagination__list-num--active {
  color: #363838;
}

.header__btn-menu {
  display: none;
}

@media(max-width:1700px) {
  .contact-slider__img{
    width: 100%;
  }
}

@media(max-width:1366px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }
  .collection__images{
    width: 100%;
  }
  .map{
    margin-top: 0;
  }
}

@media(max-width:1200px) {
  .top__slider-title {
    font-size: 62px;
    line-height: 74px;
  }
  .top__slider-img {
    height: 640px;
  }
  .contact-slider__img{
    height: 240px;
  }
}

@media(max-width:1040px) {
  .blog__items{
    max-width: 100%;
  }
  .blog__inner{
    flex-wrap: wrap;
  }
  .blog__item-img{
    max-width: 100%;
    width: 100%;
  }
  .aside{
    width: 100%;
    margin-left: 0;
    order: -1;
    margin-bottom: 50px;
  }
}

@media(max-width:992px) {
  .footer__info {
    width: 380px;
  }
  .gallery__items {
    grid-gap: 10px;
  }
  .gallery__btn {
    margin: 0;
    padding: 6px 10px;
  }
  .about__text {
    padding-left: 0;
  }
  .about__content {
    padding: 40px 0;
  }
}

@media(max-width:840px) {
  .top__inner::after {
    height: 100%;
  }
  .top__slider-title {
    font-size: 44px;
    line-height: 54px;
  }
  .top__slider-img {
    height: 540px;
  }
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }
  .works-path__item {
    width: 350px;
  }
  .works-path__item--production {
    margin-left: 50px;
  }
  .contact__box, .contact__form{
    padding-left: 0;
  }
}

@media(max-width:768px) {
  .header__btn {
    display: none;
  }
  .menu__list-item+.menu__list-item {
    padding-right: 0;
  }
  .menu__list-item {
    padding-left: 0;
  }
  .logo {
    margin: 0;
  }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__info {
    width: 100%;
    margin-bottom: 50px;
  }
  .footer__info-text {
    width: 100%;
  }
  .footer__menu {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__social {
    margin-left: auto;
    margin-right: auto;
  }
  .decor {
    padding: 70px 0 55px;
  }
  .works-path__item--measurements {
    margin-left: 100px;
  }
  .gallery__buttons {
    display: grid;
  }
  .gallery__btn {
    margin-bottom: 10px;
  }
  .rightside-menu.rightside-menu--close {
    display: none;
  }
  .about__prev {
    padding: 80px 0;
  }
  .inspiration__images {
    display: none;
  }
  .map iframe{
    height: 300px;
  }
}

@media(max-width:650px) {
  .top__slider-item .top__slider-img {
    display: none;
  }
  .top__inner {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .top__slider-text {
    margin-bottom: 15px;
  }
  .works-path__items-box::before, .works-path__item--production::after, .works-path__item--measurements::before {
    display: none;
  }
  .works-path__items-box {
    border: none;
    flex-wrap: wrap;
  }
  .works-path__item--measurements {
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 38px;
  }
  .works-path__item--production {
    margin-left: 0;
    order: 1;
  }
  .works-path__item--production p {
    display: block;
    width: 100%;
  }
  .works-path__item {
    width: 100%;
  }
  .blog-box__items {
    display: block;
  }
  .blog-box__img-link {
    display: block;
  }
  .blog-box__img {
    width: 100%;
  }
  .blog-box__item {
    margin-bottom: 20px;
  }
  .inspiration {
    padding-top: 50px;
  }
  .inspiration__title {
    font-size: 28px;
    line-height: 36px;
  }
  .slick-dots li{
    margin: 0 5px;
  }
}

@media(max-width:540px) {
  .logo {
    order: -1;
    position: relative;
    z-index: 12;
  }
  .header__btn-menu {
    position: relative;
    z-index: 12;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    order: -1;
  }
  .header__btn-menu span {
    background-color: #000;
    width: 37px;
    height: 3px;
    border-radius: 4px;
    display: block;
    margin: 6px 0;
  }
  .header__inner {
    flex-wrap: wrap;
    padding-top: 42px;
  }
  .menu {
    padding-right: 0;
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 11;
    text-align: center;
    transform: translateY(-350px);
    transition: all .5s;
  }
  .menu--open {
    transform: translateY(30px);
  }
  .menu__list {
    display: block;
  }
  .menu__list-item {
    padding-right: 0;
  }
  .menu__list-link {
    display: block;
    padding: 15px 0;
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
  }
  .new-collection__title {
    font-size: 28px;
    line-height: 36px;
  }
  .gallery__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery__item:first-child {
    grid-column: 1;
    grid-row: 1;
  }
  .blog-box__title {
    font-size: 28px;
    line-height: 36px;
  }
  .gallery.gallery__page .gallery__item:nth-child(8) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .contact__form-input{
    width: 100%;
  }

}

@media(max-width:375px) {
  .footer__inner {
    justify-content: space-between;
  }
  .footer__social {
    margin-left: 0;
  }
  .footer__form {
    display: block;
  }
  .footer__form-button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .decor__title {
    font-size: 28px;
    line-height: 36px;
  }
  .blog-box__item-title {
    font-size: 18px;
    line-height: 26px;
  }
  .inspiration__item-text {
    font-size: 14px;
    line-height: 20px;
  }
  .contact-slider__img{
    height: 310px;
  }
  .slick-dots li{
    margin: 0 1px;
  }
}